
  <ul class="navbar">
  <li class="itembar"><a class="linkbar" href="{%url idx%}">Accueil</a></li>
		<li class="itembar"><a class="linkbar" href="{%url projects%}">Projets</a></li>
		<li class="itembar"><a class="linkbar" href="{%url usrs%}">Membres</a></li>
		  <li class="itembar"><a class="linkbar" href="{%url sources_codes%}">Outils</a></li>
		  <li class="itembar"><a class="linkbar" href="{%url vpages%}">Publications</a></li>
		  <li class="itembar"><a class="linkbar" href="{%url vdemos%}">Démos</a></li>
		  <li class="itembar"><a class="linkbar" href="{%url data%}">Données</a></li>

	</ul>
