{% extends 'base.html' %}

{% block head_title %} User's objects {% endblock %} 

{% block title %}
   {{User.fstnm_person}} {{User.nm_person}} informations
{% endblock%}

{%block head_js%}
<script type="text/javascript" src="/wiki/static/js/prototype.js"></script>
<script type="text/javascript" src="/wiki/static/js/del.js"></script>
<script type="text/javascript" src="/wiki/static/js/view.js"></script>
{%endblock%}

{% block content %}

<div id="caca"></div>
<br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif%}
<ul class="navbar">
  <li class="itembar"><a class="linkbar" href="#" onclick="user_infos('{{User.login}}',1);return false;"> Informations</a></li>
  <li class="itembar"><a class="linkbar" href="#" onclick="user_infos('{{User.login}}',2);return false;"> Groups</a> </li>
  <li class="itembar"><a class="linkbar" href="#" onclick="user_infos('{{User.login}}',3);return false;"> Source Codes</a> </li>
  <li class="itembar"><a class="linkbar" href="#" onclick="user_infos('{{User.login}}',4);return false;"> Publications</a> </li>
  <li class="itembar"><a class="linkbar" href="/wiki/{{User.login}}/object/"> Medias</a> </li>
</ul>
<div id="INFOS">
<h3> {{User.fstnm_person}} {{User.nm_person}}'s media</h3>
<h5> {{mul.paginator.count}} media added</h5>
{% for m in mul.object_list %}
{%if m.auth > 0 %}
  <div id="object">
	<h3>{{m.nm_mma}}</h3>
      <div id="objectlogo">
		<img src="/wiki/static/images/lena.jpg"><br>
		<img src="/wiki/static/images/audio.png">
	  </div>
	<div id="objectcontent">
	  <ul>
		<li> Description :  {{m.description_mma}}</li>
		<li> Owner : {{m.copyright_mma}}</li>
		{%if m.auth == 3%}
		<li>
		Management :
		<a href="{%url upd_media m.id_mma%}">Modify</a>  
		<a onclick="del_media({{m.id_mma}})">Delete</a>
		</li>
		{%endif%}
	  </ul>
	</div>
	<div id="objectcontentmore">
	  {%if m.auth > 1%}
	  <button onclick="Show_more_usr_obj({{m.id_mma}})">More info </button>
	  <div id="div_more{{m.id_mma}}"></div>
	  {%endif%}
	</div>
	</div>
	{%endif%}
{%endfor%}



{%include "pagination_media3.html"%}
<br>
	<br>
<p align="center"><img src="/wiki/static/images/phi/800px-Raffael-58a.jpg"></p>

	</div>
 {% endblock %}